<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FogBugzBaseURL" value=""/>
    <add key="BaseSearch" value='Status:"Active"' />
    <add key="DefaultNarrowSearch" value='AssignedTo:Me' />
    <add key='ExampleServerURL' value='http://www.[your-company].com/FogBugz' />
    <add key='RetryLoginInterval_ms' value='120000' />
    <add key='IgnoreBaseSearch' value='false' />
    <add key='VersionUpdateCheckIntervalHours' value='1' />
    <add key='AutoUpdateURL' value='http://visionmap.googlecode.com/svn/trunk/projects/CaseTracker/latest.version.xml' />
    <add key='SearchSyntaxHelpURL' value='http://www.fogcreek.com/FogBugz/docs/60/topics/basics/Searchingforcases.html' />
    <add key='SearchFilterHistorySize' value='20' />
    <add key='UpdateCaseListIntervalSeconds' value='600' />
  </appSettings>
</configuration>