<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FogBugzBaseURL" value=""/>
    <add key="BaseSearch" value='Status:"Active" -EstimateCurrent:"0"' />
    <add key="DefaultNarrowSearch" value='AssignedTo:Me' />
    <add key='ExampleServerURL' value='http://www.[your-company].com/FogBugz' />
  </appSettings>
</configuration>